@model IEnumerable<ImageGallery.Models.Image>

@{
    ViewBag.Title = "Images";
}

<h2>Images</h2>

@{
    int middle = Model.Count() / 2;
    if (middle % 2 == 0)
    {
        middle++;
    }
    var images = Model as List<ImageGallery.Models.Image>;
}
<div class="image-wrapper">
    @for (int index = 0; index < middle; index++)
    {
        <div>
            <img src="@Url.Action("GetImage", new { id = images[index].ID })" class="image" />
        </div>
    }
</div>
<div class="image-wrapper">
    @for (int index = middle; index < Model.Count(); index++)
    {
        <div>
            <img src="@Url.Action("GetImage", new { id = images[index].ID })" class="image" />
        </div>
    }
</div>


